*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.35)),
    url("./assets/stacked-waves-haikei.svg") no-repeat center / cover;
}

html,
body,
.app,
#root {
  height: 100%;
  margin: 0;
}
